@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <header>
        <div class="container-fluid container text-center">
            <h1 class="bg-primary-subtle text-black p-3 fw-bold  d-inline-block rounded">
                Employee Management System
            </h1>
            <br />
            <br />
        </div>
    </header>
</div>
